@import 'base/variables.scss';
@import 'base/mixins.scss';
@import 'base/utilities.scss';
@import 'partials/title.scss';
@import 'partials/switch.scss';
@import 'partials/box.scss';
@import 'partials/attribution.scss';
/**** GENERAL ****/
html {
    height: 100vh;
}
.pricing {
    width: $widthSmall;
    min-height: 100%;
    font-size: $fontSize;
    font-family: $fontFamily;
    @include backgroundSmall();  
    background-color: $lighterBackgroundColor;
}
.pricing__wrapper{ 
    width: $innerWidth;
    text-align: center;
}
/**** MEDIA ****/
@media (min-width:376px) {
    .pricing {
        margin-top:0;
        width: 100%;
        max-width: $widthLarge;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include backgroundLarge();
    }
    .pricing__wrapper{
        flex:2;
        justify-self: center;
        padding-top:50px;
    }
}