/*
    Utilities
*/
.mx-auto {
    margin: 0 auto;
}
.mx-24 {
    margin: 0 24px;
}
.my-18-top {
    margin-top: 18px;
}
.my-24-top {
    margin-top: 24px;
}
.my-30-top {
    margin-top: 30px;
}
.my-60-top {
    margin-top: 60px;
}
.py-top {
    padding-top: 8px;
}
.py-bottom {
    padding-bottom: 24px;
}
.border-rd-sm {
    border-radius: 7px;
}
.border-rd-lg {
    border-radius: 12px;
}