/* 
    Variables
*/
$lighterBackgroundColor: hsl(240, 78%, 98%);
$lightBackgroundColor:hsl(234, 14%, 74%);
$lightColor:hsl(234, 14%, 74%);
$lighterColor:hsla(234, 14%, 74%, 0.8);
$darkColor: hsl(233, 13%, 49%);
$darkerColor: hsl(232, 13%, 33%);
$lightGradientColor:hsl(236, 72%, 79%);
$almostDarkGradientColor: hsla(237, 63%, 65%,0.6);
$darkGradientColor:hsl(237, 63%, 64%);
$fontSize: 15px;
$fontSizeTitle: 2rem;
$fontSizePrice: 4rem;
$fontFamily: 'Montserrat', sans-serif;;
$widthSmall: 375px;
$widthLarge: 1440px;
$lineHeight: 3rem;
$innerWidth: 88%;